<div class="container-fluid">
  <div class="row">

      <!-- Le styles -->
      <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

      <div class="container">
        <div ng-app="Schnapsberry">
          <div class="container">
            <div class="row-fluid">
              <div class="span6">
                <h1>Tempberry PID</h1>
                <p>Version: 0.2.0 - <a href="https://github.com/shitzensreal/Tempberry-PID">Documentation</a> - <a href="http://www.google.com/">Questions?</a></p>
              </div>
              <div class="span6 right">
                <p></p>
                <p>Target Temperature: <input ng-model="test.targettemp" style="width: 30px;"></p>
                <button ng-click="startStop()">start/stop</button>
                <button ng-click="tempUp()">up</button>
                <button ng-click="tempDown()">down</button>
              </div>
          </div>
          <div class="row-fluid">
            <div class="span12" style="height: 500px; margin: 40px 0;">
              <!--flot-chart chart-height="500" chart-type="Line" ng-model="temperature_plot"></flot-chart-->
              <flot dataset="plotData" options="plotOptions"></flot>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>